<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" href="{{ '/img/favicon/favicon.ico'}}">
        <link rel="apple-touch-icon" sizes="57x57" href="{{ '/img/favicon/apple-touch-icon-57x57.png'}}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ '/img/favicon/apple-touch-icon-114x114.png'}}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ '/img/favicon/apple-touch-icon-72x72.png'}}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ '/img/favicon/apple-touch-icon-144x144.png'}}">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ '/img/favicon/apple-touch-icon-60x60.png'}}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ '/img/favicon/apple-touch-icon-120x120.png'}}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ '/img/favicon/apple-touch-icon-76x76.png'}}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ '/img/favicon/apple-touch-icon-152x152.png'}}">
        <link rel="icon" type="image/png" href="{{ '/img/favicon/favicon-196x196.png'}}" sizes="196x196">
        <link rel="icon" type="image/png" href="{{ '/img/favicon/favicon-160x160.png'}}" sizes="160x160">
        <link rel="icon" type="image/png" href="{{ '/img/favicon/favicon-96x96.png'}}" sizes="96x96">
        <link rel="icon" type="image/png" href="{{ '/img/favicon/favicon-16x16.png'}}" sizes="16x16">
        <link rel="icon" type="image/png" href="{{ '/img/favicon/favicon-32x32.png'}}" sizes="32x32">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{{ '/img/favicon/mstile-144x144.png'}}">
        <meta name="msapplication-config" content="{{ '/img/favicon/browserconfig.xml'}}">

        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

        <link rel="stylesheet" href="{{ '/css/styles.css'|cache_buster }}" media="all" />
    </head>
    <body>
        
    <nav class="navbar navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
       
          <a class="navbar-brand" href="#">
                    <img src="/img/header-logo.png" alt="">
                </a>
                <a class="navbar-brand" href="#"> {{ title }}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Sign out</a></li>
            <li><a href="#">Help</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">List Events </a></li>
            <li><a href="#">test</a></li>
          </ul>

        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
               <div class="content">
                        {% block content %}{% endblock %}
                    </div>
    </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{{ '/js/javascript.js'}}"></script>

        {% block javascript %}{% endblock %}

        {% if not app.debug %}
            <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
                ga('create', '{{ site.google_analytics_id }}', '{{ app.server_name }}');
                ga('send', 'pageview');
            </script>
        {% endif %}
    </body>
</html>
