{% extends "layout.twig" %}

{% block content %}
      
 <h1 class="page-header">Calendar Events</h1>

          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Event</th>
                </tr>
              </thead>
              <tbody>
                 {% for event in data %}
                <tr>
                  <td>{{ event.summary|e }}</td>
                </tr>
                {% endfor %}
             </tbody>
            </table>
          </div>
        </div>
      </div>



{% endblock %}